

.navbar{
    
    background: orange;
    height: 60px;
    display: flex;
    justify-content: Center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    padding-left: 25px;
    transition: 0.35s ease;
}
#navbar__logo:hover{
    transform: scale(1.075);
    transition: 0.35s ease;
}

.navbar__menu{
    display: flex;
    
    align-items: center;
    list-style: none;
    position:relative;
    left: 50%;
}


.navbar__item{
    justify-content: space-around;
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}


.navbar__links:hover {
    color: black;
    transition: all 0.3s ease;
}


/*Hero Section*/

.hero{
    background: black;
    opacity: 0.9;
    background: linear-gradient(to right, #161616,#000000);
    padding: 20px;
   
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    height: 90%;
    text-align: center;
    padding: 100px 200px;
    z-index: 999;
}
 
.hero__heading{
    animation: myMove 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes myMove {
    from {left: 50%;}
    to {left:100%;}
}

.hero video{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -999;
        object-fit: cover;
        
}



.hero__heading{
    font-size: 100px;
    margin-bottom:24px;
    color: #fff;
    z-index: 2;
}

.hero__heading {
    font-family: 'Times New Roman', Times, serif;
    color:#FF3300;
    z-index: 100;
    font-size: 900%;
    position: absolute;
   }
 
.hero__heading span{
    color: #000000;
}
.discription {
    font-size: 150%;
    color: orange;
    position: absolute;
    top: 50%;
    bottom: 45%;
}

.I_class{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top:10px;
    color: orange;
}

.hero__description{
    justify-content: center;
    display: flex;
    box-sizing: content-box;
    height: 70px;
    align-content: left;
    width:100%;
    font-size: 40px;
    color: #FFFFFF;
    z-index: 1;
    position: absolute;
    top: 60%;
    bottom: 40%;
    
}

.words{
    overflow: hidden;
}

.words span{
    display: block;
    height: 100px;
    padding:10px;
    animation: spin_words 6s infinite;
    text-align: left;
}

@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    35%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(-212%);
    }
    65%{
        transform: translateY(-200%);
    }
    80%{
        transform: translateY(-312%);
    }
    100%{
        transform: translateY(-300%);
    }

}

.hero__description p{
    font-family: 'Times New Roman', Times, serif;

    color: #fd1d1d;  
}.content{
    font-size: 170%;
    justify-content: left;
    float: left;
}
.disvideo{
   
    float: right;
    
    
}

.grid_wrapper{
    margin-top: 1%;
    width: 99%;
    display:grid;
    grid-template-columns: 34% 33% 33%;
    grid-gap: 1em;
    grid-auto-rows: 100px;

}
.box1 img{
    background-color: #000000;
    width: 100%;
    height: 100%;
}
.box2 img{
    width: 100%;
    height: 100%;
}
.box3 img{
    width: 100%;
    height: 100%;
}

.box1{
    grid-row: 1/5;
    background-color:#1f415d;
    
}

.box2{
    grid-row: 1/5;
    background-color: #e26535;
    
}
.box3{

    grid-row: 1/5;
    background-color: #e26535;
    
}

.highlight{
    border-bottom: 4px solid rgb(132,0,255);
}

@media screen and (max-width:768px){
    .hero__heading{
        font-size: 60px;
    }
    .hero__description{
        font-size: 40;
    }    
}
.footer__container{
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#footer__logo{
    color: #fff;
    display: flex;
    align-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper{
    display: flex;
}

.footer__link--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2{
    margin-bottom: 16px;
    color: #fff;
}

.footer__link--items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-out;
}
.footer__link--items a:hover{
    color: red;
    transition: 0.3s ease-out;    
}

.social__icon--link{
    color: #fff;
    font-size: 24px;
}
.social__media{
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

.social__media--wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__rights{
    color: #fff;
}

@media screen and (max-width: 820px){
    .footer__links{
        padding-top: 2rem;;
    }

    #footer__logo{
        margin-bottom: 2rem;
    }
    .website__rights{
        margin-bottom: 2rem;     
    }
    .footer__link--wrapper{
        flex-direction: column;
    }
    .social__media--wrap{
        flex-direction: column;
    }
}

@media screen and  (max-width: 480px){
    .footer__link--items{
    margin:0;
    padding: 10px;
    width:100%;
    }
    .social__media--wrap{
        flex-direction: column;
    }
}


