*{
    margin: 0px;
    padding: 0px;
    
}

	
.banner{
    width: 100%;
    height: 500px;
    top: 50px;
    background-image: url("pexels-marc-695266.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.content h1{
    padding-top: 10%;
    font-size: 70px;
    font-family: poppins;
    color:whitesmoke;
    text-align: left;
}

body{
    font-family: Arial;
    text-align: center;
}


    
.cards{
    width: 20%;
    height: 20%;
    display: inline-block;
    background-color: lightsalmon;
    border-radius: 5px;
    margin: 40px;
}
.cards:hover{
    box-shadow: 2px 2px 10px black;
}
image img{

    
    border-radius: 200px;
    text-align: center;
   
  
}

.para{
    text-align: center;
}
.title{
    text-align: center;
    color: white;
    padding: 5px;
}
.des{
    text-align:center;
    padding: 4px;
    font-size: 14px;
}
.indi{
    text-align: center;
    color:darkslateblue;
}
.sen{
    text-align: center;
    color: black;

}
.footer__container{
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#footer__logo{
    color: #fff;
    display: flex;
    align-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer__link--wrapper{
    display: flex;
}

.footer__link--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2{
    margin-bottom: 16px;
    color: #fff;
}
.footer__link--items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-out;
}
.footer__link--items a:hover{
    color: red;
    transition: 0.3s ease-out;    
}

.social__icon--link{
    color: #fff;
    font-size: 24px;
}
.social__media{
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

.social__media--wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__rights{
    color: #fff;
}
.wrapper{
    width: 100%;
}
.cards{
    width: 35%;
    height: 35%;
    display: inline-block;
    background-color: lightsalmon;
    border-radius: 5px;
    margin: 40px;
}
@media screen and (max-width: 820px){
    .footer__links{
        padding-top: 2rem;;
    }

    #footer__logo{
        margin-bottom: 2rem;
    }
    .website__rights{
        margin-bottom: 2rem;     
    }
    .footer__link--wrapper{
        flex-direction: column;
    }
}
@media screen and  (max-width: 480px){
    .footer__link--items{
    margin:0;
    padding: 10px;
    width:100%;
    }
}










