.container2{
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
  }
  .container2 span{
    text-transform: uppercase;
    display:block;
  }
  .text2{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    background:#fd6925;
    letter-spacing: 8px;
    margin-bottom: 8px;
    position:relative;
    animation: text 1s;
  }
  
  .container3{
    text-align: center;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    ;
  }
  .container3 span{
    text-transform: uppercase;
    display:block;
  }
  .text3{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    background:grey;
    letter-spacing: 8px;
    margin-bottom: 8px;
    position:relative;
    animation: text 1s;
  }
